/* .imagelogo {
  text-align: right;
} */
* {
  box-sizing: border-box;
  font-family: monospace;
  max-width: 100%;
  padding: 0px;
  margin: 0px;
}
.firstbody {
  text-align: center;
  background-color: darkorange;
}
.imagebody {
  background-size: 150px;
}
img {
  size: 10px;
  height: 150px;
  /* position: sticky;
  vertical-align: middle; */
  align-items: center;
}
productbutton {
  size: 29px;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 960px; /* Full width */
  margin: auto;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}
.navfooter a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  height: 50px;
}
.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}
footer {
  text-align: center;
  padding: 3px;
  background-color: rgb(153, 84, 61);
  color: white;
}
.card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: black;
  text-align: center;
  cursor: zoom-out;
  font-size: 18px;
}
