.imagelogo {
  text-align: right;
}
.firstbody {
  text-align: center;
  background-color: darkorange;
}
.imagebody {
  background-size: 150px;
}
img {
  size: 10px;
  height: 150px;
  /* position: sticky;
  vertical-align: middle; */
  align-items: center;
}
productbutton {
  size: 29px;
}
header {
  background-color: darkkhaki;
}
footer {
  text-align: center;
  padding: 3px;
  background-color: rgb(153, 84, 61);
  color: white;
}
.card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color:black;
  text-align: center;
  cursor: zoom-out;
  font-size: 18px;
}