* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
}
input {
  border-radius: 6px;
  width: 330px;
  font-size: 17px;
  padding: 14px;
}
