* {
  box-sizing: border-box;
}
table {
  border-collapse: collapse;
  caption-side: bottom;
  /* Mo ta cua Table */
}
table,
tr,
th,
td {
  border: 1px solid red;
}
th,
td {
  width: 200px;
  padding: 10px;
}
tbody tr:nth-child(2n + 2) {
  background-color: rosybrown;
}
