input {
  display: none;
}
label {
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 20px;
  background-color: lawngreen;
  border-radius: 10px;
}
label::before {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: lightblue;
  border-radius: 50%;
  border: 2px solid teal;
  top: -4.5px;
  left: 0;
  transition: 0.1s;
  z-index: 1;
}
label::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 29px;
  border-radius: 10px;
  background-color: yellow;
  z-index: 0;
  transition: 00.1s;
}
input:checked + label::before {
  left: 21px;
  background-color: tomato;
}
